useDynLib(scTenifoldKnk, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(Matrix, Matrix, rowMeans, rowSums, colSums, t, sparseMatrix)
importFrom(RSpectra, svds, eigs)
importFrom(stats, dist, p.adjust, pchisq, quantile, lm, predict)
importFrom(MASS, boxcox)
importFrom(parallel, detectCores, makeCluster, clusterExport, parLapply, stopCluster)
importFrom(methods, as, is)
export(scTenifoldKnk)
export(pcNetFast)
export(makeNetworksFast)
export(tensorDecomposition)
export(manifoldAlignment)
export(dRegulation)
export(scQC)
